#login-page {
    display: flex;

    #login-left {
        width: 50%;
        display: flex;
        flex-direction: column;
background: #e0dddd;
        #login-assets-container {
            display: flex;
            margin: 0 auto;
            #login-assets{
                display: flex;flex-direction: column;
                .login-image{
width: 80%;                }
            }
        }

    }

    #login-right {
        width: 50%;

    }
}