#login-page {
    display: flex;
    height: 100vh;

    #login-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        background: #fbfbfb;

        #login-assets-container {
            display: flex;
            margin: 0 auto;
            padding-top: 106px;

            #login-assets {
                display: flex;
                flex-direction: column;

                .login-image {
                    width: 90%;
                    padding-top: 139px;
                }
            }
        }

    }

    #login-right {
        width: 50%;
        padding-top: 220px;

        #login-details {
            // width: fit-content;
            // margin: 0 auto;

            #login-header {
                display: flex;
                flex-direction: column;
                .welcome {
                    color: #213F7D; background: #000;width: fit-content;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 55px;
                    letter-spacing: -0.04em;
                }
            }

        }
    }
}