#login-page {
    display: flex;
    height: 100vh;

    #login-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        background: #fbfbfb;

        #login-assets-container {
            display: flex;
            margin: 0 auto;
            padding-top: 106px;

            #login-assets {
                display: flex;
                flex-direction: column;

                .login-image {
                    width: 90%;
                    padding-top: 139px;
                }
            }
        }

    }

    #login-right {
        width: 50%;
#login-details{
    wf
padding-top: 220px; margin: 0 auto;
}
    }
}